<section class="jumbotron text-center">
        <div class="container">
            <h1>Email n°<%= @id %>:  <%= @email.objet %> </h1>
            <h4>Titre de l'évènement : <%= @email.body %></h4>
            <a href='' class="btn btn-primary">Marquer comme non-lu</a>
            <%= link_to 'Supprimer le mail', email_path(email), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure"}, remote: true %>
        </div>
</section>
