<section class="jumbotron text-center">
        <div class="container">
            <h1>Email n°<%= @id %>:  <%= @email.objet %> </h1>
            <h4>Titre de l'évènement : <%= @email.body %></h4>
            <a href='' class="btn btn-primary">Marquer comme non-lu</a>
            <a href='/emails/<%= @id %>' class="btn btn-danger" data-confirm="Etes-vous sûrs de supprimer cet email ?!" 
            data-method="DELETE"  data-remote="true">Supprimer le mail </a>
    
        </div>
</section>
